<!DOCTYPE html>
<html>
    <head>
        <title>
            We have encountered an error
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1><%= status_code %>: We have encountered an error</h1>
    </body>
</html>